<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> SPA Day </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./vendor/bootstrap/dist/css/bootstrap.css" />
  <script src="./vendor/app.js" defer></script>
</head>
<body>
  <div class="container">
    <h1>Acme Customers SPA</h1>
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Customer email" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email" id="email">
      <div class="input-group-append">
        <button class="btn btn-success" id="createButton" type="button">Create</button>
      </div>
    </div>
    <div id="message">
    </div>
    <ul class="list-group" id="customerList">
    </ul>
  </div>
</body>
</html>
